<div class="message">
  <div id="message-<%= message.id %>">
    <small>
      <%= cl_image_tag message.user.avatar.key, height: 50, width: 50, crop: :fill, class: "rounded-circle" %>
      <strong class="user-nickname"><%= message.user.nickname %></strong>
    </small>
    <p class="message-content"><%= message.content %></p>
  </div>
</div>
