.dashboard_container {
  margin: 10px;
}

.received {
  position: relative;
  margin: 15px;
}

.pending {
  margin: 15px;
}

.btn {
  border-radius: 12px;
  background-color: violet;
  color: aliceblue;
  border: solid white 1px;
}

.buttons {
  position: absolute;
}
