// Specific CSS for your show-page

.form {
  padding: 10px;
}

.name {
  border-radius: 12px;
}

.gender {
  width: 140px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.age {
  width: 80px;
  padding-left: 20px;
}

.breed {
  border-radius: 12px;
}

.upload_submit {
  width: fit-content;
}

.image {
 margin: 5px;
 padding-right: 16px;
 padding-top: 30px;
}

.h4 {
  margin: 10px;
}

.banner-add-dog {
  height: 303px;
  width: 100%;
  object-fit: cover;
}
