// Specific CSS for your show-page
.container {
margin: 10px;
}

.form {
  padding: 10px;
}

.name {
  width: 180px;
}

.gender {
  width: 120px;
}

.d-flex {
  display: flex;
  align-items: flex-start;
}

.age {
  width: 60px;
  padding-left: 20px;
}

.breed {
  width: 190px;
}

.upload_submit {
  width: fit-content;
}

.image {
 margin: 5px;
 padding-right: 16px;
 padding-top: 30px;
}

.h4 {
  margin: 10px;
}
