<ul>
  <% @dogs.each do |dog| %>
    <li>
      <% if dog.photo.attached?  %>
        <%= cl_image_tag dog.photo.key, height: 50, width: 50, crop: :fill %>
      <% end %>
      <%= link_to dog.name, user_path(dog.user) %>
    </li>
  <% end %>
</ul>


<%= link_to 'add a new dog', new_dog_path %>
