<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>
    <div class="col">
      <i class="fas fa-paw"></i>
    </div>
    <div class="col">
      <i class="fas fa-plus"></i>
    </div>
    <div class="col">
      <i class="fas fa-comment-alt"></i>
    </div>
  </div>
</div>
