<nav class="navbar foot" data-controller="footer">
    <%= link_to root_path do %>
      <i class="fas fa-home rounded-circle" style="font-size: 2.8em"></i>
    <% end %>
    <% if current_user %>
      <%= link_to user_friendships_path(current_user) do %>
        <i class="fas fa-paw" style="font-size: 2.8em;"></i>
      <% end %>
    <% end %>
    <i class="fas fa-plus" style="font-size: 2.8em;" data-action="click->footer#upload"></i>
    <%= link_to chatrooms_path do %>
     <i class="fas fa-comment-alt" style="font-size: 2.8em;"></i>
    <% end %>
</nav>
