<div class="container">
<nav class="navbar">
    <%= link_to root_path do %>
      <i class="fas fa-home rounded-circle" style="font-size: 2.8em; background-color: white"></i>
    <% end %>
    <i class="fas fa-paw" style="font-size: 2.8em;"></i>
    <i class="fas fa-plus" style="font-size: 2.8em;"></i>
    <i class="fas fa-comment-alt" style="font-size: 2.8em;"></i>
</nav>
</div>
