<nav class="navbar">
  <div class="icon">
    <%= link_to root_path do %>
      <i class="fas fa-home" style="font-size: 2.8em;"></i>
    <% end %>
  </div>
  <div class="icon">
    <i class="fas fa-paw" style="font-size: 2.8em;"></i>
  </div>
  <div class="icon">
    <i class="fas fa-plus" style="font-size: 2.8em;"></i>
  </div>
  <div class="icon">
    <i class="fas fa-comment-alt" style="font-size: 2.8em;"></i>
  </div>
</nav>
