.banner {
  background-size: cover;
  background-position: center;
  padding: 225px 0;
  width: 100%;
  position: absolute;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  position: relative;
  top: -150px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-photo {
  height: 44px;
  bottom: 38px;
  width: 30%;
  position: absolute;
}

.custom-button {
  background-color: #ffffff;
  border-radius: 12px;
  position: absolute;
  bottom: 94px;
  width: 33%;
  justify-content: space-around;
}

.upload-photo {
  cursor: pointer;
  font-weight: 500;
  position: absolute;
  left: 15px;
  bottom: 90px;
  border: solid;
  border-radius: 12px;
  padding: 9px;
  background: #835ec2;
  color: white;
}
