.card-group {
  display: grid;
}
// puts the content picture, title and distance in the middle"
.dog-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dog-card-picture {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  object-fit: cover;
  border: solid violet 3px;
}

.dog-male {
  border-color: #845EC2;
}

.card-title {
  justify-content: center;
  align-items:center;
}

.dog-card-distance {
  margin-top: -20px;
}

@media(max-width: 992px) {
  .card-group {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
