.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas {
  color: #845EC2;
}

.navbar {
  height: 20vw;
  width: 100%;
  justify-content: space-between;
  position: sticky;
}
