.message {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
  .user-nickname {
    padding-left: 10px;
  }
  .message-content {
    padding-top: 10px;
    margin-bottom: -2px;
  }
}
