.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.main-search-input {
  border-radius: 12px;
  border: solid rgb(209, 209, 209) 1px;
}

.main-search-button {
  border-radius: 12px;
  background-color: violet;
  color: aliceblue;
  border: solid white 1px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-span {
  width: 28px !important;
  height: 28px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px;
  .fas {
    color: white !important;
  }
  a {
    text-decoration: none !important;
    width: 28px !important;
    height: 32px !important;
  }
  .fa-venus:before {
    width: 12px !important;
    height: 16px !important;
    margin-left: 2px;
}
}

.male-span {
  background-color: rgb(67, 67, 243);
}

.female-span {
  background-color: rgb(236, 145, 159);
}
