.show_dog_card {
  display: flex;
}

.show_dog_card_image {
  align-items: center;
  margin-left: 20px;
}

.show_dog_card_bio {
  margin-left: 40px;
}

.show_dog_card_p {
  line-height: 35%;
  padding-top: 15px;
}
