.show_dog_card {
  display: flexbox;
  margin-bottom: 30px;
}

.show_dog_card_image {
  align-items: center;
  margin-left: 16px;
}

.show_dog_card_bio {
  padding-left: 16px;
}

.show_dog_card_p {
  line-height: 30%;
  padding-top: 10px;
}
