.show_user_card {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 14px;
  border-radius: 5px;
  background-color: #f4f4f3;
}

.show_user_card_image {
  height: 100%;
  width: 140px;
  object-position: center;
  margin-left: 20px;
  align-items: flex-start;
}

.show_user_card_name_friendships {
  font-size: 16px;
  font-weight: bold;
  align-items: flex-center;
}

.show_user_card_bio {
  font-size: 12px;
  background-color: rgba(236, 233, 229, 0.938);
  padding: 10px 10px;
  border-radius: 12px;
  margin-bottom: 30px;
}
