.show_dog_card {
  display: flexbox;
  margin-bottom: 15px;
}

.show_dog_card_image {
  align-items: center;
  margin-left: 14px;
}

.show_dog_card_bio {
  padding-left: 16px;
}

.show_dog_card_p {
  line-height: 30%;
  padding-top: 10px;
}

.show_dog_card_current_user_actions {
  justify-content: end;
  position: absolute;
  bottom: 100px;
  left: 36%;
}
