.show_user_card {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 14px;
  border-radius: 5px;
  background-color: #f4f4f3;
  position: relative;
}

.show_user_card_image {
  height: 100%;
  width: 140px;
  object-position: center;
  align-items: center;
  margin-left: 20px;
}

.show_user_card_name {
  font-size: 16px;
  font-weight: bold;
  left: 130px;
  position: absolute;
  top: 25px;
}

.show_user_card_bio {
  font-size: 12px;
  background-color: rgba(236, 233, 229, 0.938);
  padding: 10px 10px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.show_user_card_button {
  padding-top: 70px;
  padding-right: 25px;
}

.friendship {
  position: absolute;
  top: 60px;
  right: 140px;
}
