.show_user_card {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 14px;
  border-radius: 5px;
  background-color: #f4f4f3;
}

.show_user_card_image {
  height: 100%;
  width: 140px;
  object-position: center;
  align-items: center;
  margin-left: 20px;
}

.show_user_card_name {
  font-size: 16px;
  font-weight: bold;
  padding-right: 80px;
}

.show_user_card_bio {
  font-size: 12px;
  padding: 12px 15px;
}

.show_user_card_button {
  padding-top: 70px;
  padding-right: 25px;
}


.show_user_card .show_user_card_bio {
  padding: 16px;
  background: white;
}
